<!--
  @brief
  ユーザーの履歴の表示ページ
-->

<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--
      SQL: <%= @debug_sql %>
    -->

    <%= button_tag "Back", class: "btn btn-secondary", onclick: "history.back()" %> 
    <br>
    <br>
  
    <p class="alert alert-success">History view</p>

    <%= paginate @users %>
    <table class="table">
      <thead>
        <tr class="info">
          <th scope="col">#</th>
          <th scope="col">Fullname</th>
          <th scope="col">User ID</th>
          <th scope="col">E-mail</th>
          <th scope="col">Affiliation</th>
          <th scope="col">Justification</th>
          <th scope="col">Action</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
  
      <tbody>
      <% @users.each do |user| %>
        <% 
            if user.disable_flag == false 
              tr_class = ""
            else
              tr_class = "active"
            end
        %>
        <tr class=<%= tr_class %>>
          <th scope="row"><%= user.id %></th>
          <td><%= user.fullname %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.affiliation %></td>
          <td><%= user.justification %></td>
          <% if user.created_at == user.updated_at %>
            <td>Created</td>
          <% else %>
            <td>Modified</td>
          <% end %>
          <td><%= user.updated_at %>
        </tr> 
      <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </body>
</html>
